
.App {
  text-align: center;
}

.nav {
  margin-bottom: 80px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.nav-link:hover {
  color: grey;
}
.nav-link:active {
  color: red;
}
.nav-li {
  float: left;  
  list-style-type:none;
  margin-right: 10px;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pitch-row {
  margin: 10px;
}

.pitch-btn {
  margin: 1px;
}

.center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  width: 100%
}
.create-oscillator-btn {
  margin-bottom: 40px;
}
.oscillator-container {
  margin-bottom: 20px;
}
.oscillator-control-item {
  margin: 5px 20px;
  padding: 5px;
}
.slider-label {
  text-align: center;
}

.pitch-select-btn {
  margin-bottom: 20px;
}

.pitch-btn {
  margin: 2px;
}

.pitch-row {
  margin: 5px;
  min-width: 350px;
}