
.main {
  margin: 20px 100px; 
  width: 60%;
}
.center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  width: 100%
}
.create-oscillator-btn {
  margin-bottom: 40px;
}
.oscillator-container {
  margin-bottom: 20px;
}
.oscillator-control-item {
  margin: 5px 20px;
  padding: 5px;
}
.slider-label {
  text-align: center;
}

.pitch-select-btn {
  margin-bottom: 20px;
}

.pitch-btn {
  margin: 2px;
}

.pitch-row {
  margin: 5px;
  min-width: 350px;
}